body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

p {
    margin: 0px;
    padding: 0px;
}

.adress {
    width: 200px;
    display: inline-block;
    padding-left: 5px;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.post_date {
    font-size: 10px;
    color: grey;
}

.post_place {
    font-size: 11px;
    color: darkgrey;
}

.post_name {
    font-size: 13px;
    display: inline;
    font-weight: 700;
}

#feedback {
  position: absolute;
  width: 280px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding-bottom: 10px;
  z-index: 2
}

#posts {
  height: 170px;
  overflow-y: scroll;
}

input {
  width: 250px;
  height: 20px;
  margin-bottom: 3px;
}

textarea.fbk {
  width: 250px;
  height: 90px;
  resize: none;
}

div.header {
  color: white;
  margin-top: -16px;
  height: 35px;
  background-color: rgb(255, 154, 119);
  font-size: 13px;
  line-height: 35px;
  border-radius: 12px 12px 0 0;
}

.post {
    font-size: 13px;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

div.header > p {
  display: inline;
  margin-right: 5px;
}

div.header > #close_feedback {
  float: right;
  font-weight: bold;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  z-index: 1;
}

div.header > #close_feedback:hover {
    cursor:pointer;
}
